<!DOCTYPE html>
<h1>QUOTES</h1>
<div class="container-fluid row">
    <!--Quote Creation Form-->
    <div class="col-md-5">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

    </div>

    <!--Quotes Section-->
    <div class="col-md-7">
        <!--Display of Quotes-->
        <ul class="card">
            <li class="card-title" *ngFor='let quote of quote'>{{quote.saying + "&nbsp;"}}
                <app-quote-author class="card-title"></app-quote-author>
                <app-quote-publisher></app-quote-publisher>
                <!--Output event calling quote delete function-->
                <button (click)='quoteDelete(true)' class="btn btn-danger"> Delete Quote</button>
            </li>
        </ul>
    </div>
</div>