<!DOCTYPE html>
<h1 class="quote">QUOTES</h1>
<div class="container-fluid row">
    <!--Quote Creation Form-->
    <div class="col-md-5 forma jumbotron">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

    </div>

    <!--Quotes Section-->
    <div class="col-md-7 quot1">
        <!--Display of Quotes-->
        <div>
            <ul>
                <li class="card mb-3 list1" *ngFor='let quote of quote; let i = index'>{{quote.saying + "&nbsp;"}} <br> published on: {{quote.dateCreated|date}}<br> Quote By: {{quote.author}}
                    <br> published by: {{quote.publisher}} <br>
                    <!--Output event calling quote delete function-->
                    <button (click)='quoteDelete(true)' class="btn btn-danger delete"> Delete Quote</button>
                </li> <br>
            </ul>
        </div>
    </div>
</div>