<!DOCTYPE html>
<div>
    <!--calling submit quote function-->
    <form (ngSubmit)='submitQuote();quoteForm.reset()' #quoteForm='ngForm'>

        <!--Quote-->
        <!--1 Enable form to monitor changes and validity of input elements-->
        <div class="form-group">
            <div>
                <label for="saying">Your Quote</label>
                <!--Display of Quote-->

                <!--2 ngModel added and equated to newQuote object and definition of name attribute-->
                <textarea class="form-control" id="saying" [(ngModel)]="newQuote.saying" name="saying" #saying="ngModel" required></textarea>
                <div [hidden]="saying.valid || saying.pristine" class="alert alert-danger">
                    <p>Input Quote</p>
                </div>
            </div>
        </div>

        <!--Author of Quote-->
        <div class="form-group">
            <div>
                <label for="author">Quote By:</label>
                <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Input Author Name</p>
                </div>
            </div>
        </div>

        <!--Publisher of Quote-->
        <div class="form-group">
            <div>
                <label for="publisher">Posted By:</label>
                <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel">
            </div>
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p>Input Publisher</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Publish Quote</button>
    </form>

</div>